@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Yuqi Website</h1>
    <ul>
        <li>My Calculator <a href="#Calculator"></li>
    </ul>
</div>
